@model List<ResultCarFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLoyaut/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Avtomobilə aid Xusisyyətlər</h4>
                        <p class="card-subtitle mb-4">
                            Burada seçilmiş Avtomobilin hansı xusisiyyətlərə malik olduğunu görə bilərsiniz
                        </p>
                      <form method="post">
                            @for(int i = 0; i < Model.Count; i++)
                            {
                                <div class="form-check">
                                    <input type="hidden" asp-for="@Model[i].CarFeatureId" />
                                    <input type="hidden" asp-for="@Model[i].FeatureName" />
                                    <input type="checkbox" asp-for="@Model[i].Available" class="form-check-input"/>
                                    <label class="form-check-label" for="@Model[i].Available">@Model[i].FeatureName</label>


                                </div>
                            }
                            <button class="btn btn-success">Dəyişikləri yadda saxla</button>

                      </form>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>


