@model List<ResultServiceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLoyaut/Index.cshtml";
    int count = 0;
}



<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Service hissəsi</h4>
                        <p class="card-subtitle mb-4">
                            Service Hissəsi məlumatları silmə yeniləmə və əlavə etmə əmaliyyatları burdan edilir
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>

                                        <th># </th>
                                        <th>Başlıq </th>
                                        <th>Təsvir </th>

                                        <th>Sil</th>
                                        <th>Yenilə</th>
                          


                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        count++;
                                        <tr>

                                            <td> @count</td>
                                            <td> @item.Title</td>
                                            <td> @item.Description</td>





                                            <td><a class="btn btn-outline-danger" asp-area="Admin" asp-action="DeleteService" asp-route-id="@item.ServiceId"> Sil</a></td>
                                            <td><a class="btn btn-outline-warning" asp-area="Admin" asp-action="UpdateService" asp-route-id="@item.ServiceId"> Yenilə</a></td>
                          






                                        </tr>


                                    }


                                </tbody>

                            </table>
                            <a asp-area="Admin" asp-controller="AdminService" asp-action="CreateService" class="btn btn-outline-success">Əlavə Et</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->
            <!-- end col -->
        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>






