@model List<ResultCarWithBrandsDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLoyaut/Index.cshtml";
    int count = 0;
}

  <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Avtomobillər</h4>
                        <p class="card-subtitle mb-4">
                          Avtomobilləri silmə yeniləmə və əlavə etmə əmaliyyatları burdan edilir
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Model</th>
                                        <th>Marka</th>
                                        <th>Yanacaq</th>
                                        <th>Km</th>
                                        <th>Sil</th>
                                        <th>Yenilə</th>
                                        <th>Detallar</th>
                                        <th>Özəllik Əlavə et</th>
                                        <th>Saytda bax</th>
                                        <th>Qiymət Məlumatları</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model)
                                    {
                                        count++;

                                        <tr>
                                            <th scope="row">@count </th>
                                            <td>@item.Name</td>
                                            <td>@item.BrandName</td>
                                            <td>@item.Fuel</td>
                                            <td>@item.Km</td>
                                            <td><a class="btn btn-outline-danger"  asp-action="DeleteCar" asp-route-id="@item.CarId"> Sil</a></td>
                                            <td><a class="btn btn-outline-warning" asp-action="UpdateCar" asp-route-id="@item.CarId"> Yenilə</a></td>
                                            <td><a asp-area="Admin" asp-controller="AdminCarFeatureDetail" asp-action="Index" asp-route-id="@item.CarId"  class="btn btn-outline-info">Detallar</a></td>
                                            <td><a asp-area="Admin" asp-controller="AdminCarFeatureDetail" asp-action="CreatrFeatureByCarId" asp-route-id="@item.CarId" class="btn btn-outline-info">Detallar</a></td>
                                            <td><a class="btn btn-outline-dark" asp-controller="Car" asp-action="CarDetail" asp-route-id="@item.CarId">Saytda bax</a></td>
                                            <td><a class="btn btn-outline-secondary">Qiymət Məlumatları</a></td>
                                            

                                        </tr>

                                      
                                    }
                                 

                                </tbody>
                               
                            </table>
                            <a asp-controller="AdminCar" asp-action="CreateCar" class="btn btn-outline-success">Əlavə Et</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->


  
            <!-- end col -->
        </div>
                    <!-- end page title -->

                </div> <!-- container-fluid -->
            </div>

